{% extends "layout.html" %}
{% block nav %} 
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="{{ url_for ('home') }}">Home</a></li>
          <li class="active"><a href="{{ url_for ('about') }}">About</a></li>
          <li><a href="{{ url_for ('contact') }}">Contact</a></li>
        </ul>
{% endblock %}
{% block first %}
<h2 style="text-align:center">About, yo.</h2>
<p>two pictures below - me and eva?</p>
<p>This webapp was built in a week using Flask and a few associated packages. It's David Cha's first webapp and he's excited to bring it to life!</p>
{% endblock %}