{% extends "layout.html" %}
{% block nav %} 
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="{{ url_for ('home') }}">Home</a></li>
          <li class="active"><a href="{{ url_for ('about') }}">About</a></li>
          <li><a href="{{ url_for ('contact') }}">Contact</a></li>
        </ul>
{% endblock %}
{% block first %}
<h2 style="text-align:center">About us, yo.</h2>
<div class="jumbotron"> 
<div class="about-wrapper">
<img src="{{ url_for('static', filename='images/dave.jpg') }}"></div>
<p class="lead">Dave Cha is a NYC native and huge cat lover. He takes his coffee black, his beer stout, and his whiskey neat. This is his first web application, and his cat <a href="http://i.imgur.com/lE6S3r6.jpg">Athena</a> spent most of her time sleeping while he worked on this.</p>
<div style="clear: both;"></div>
<div class="about-wrapper">
<img src="{{ url_for('static', filename='images/eva.jpg') }}"></div>
<p class="lead">Eva Prokop works on Wall Street on weekdays, but on nights and weekends you can find her all over NYC helping furry feline friends find foreverhomes. Like @ <a href="http://www.ps9pets.com">P.S. 9 Pets</a> and <a href="http://muddypawsny.com">Muddy Paws!</a></p>
<div style="clear: both;"></div>

<p class="lead">The <a href="https://github.com/rioht/catabase">catabase</a> is powered by <a href="https://www.python.org">Python</a>, <a href="http://flask.pocoo.org">Flask</a>, <a href="http://getbootstrap.com">Bootstrap</a>, and <a href="http://www.sqlite.org">SQLite</a>. It also uses <a href="https://github.com/jeffknupp/sandman">Sandman</a>, an awesome project by Jeff Knupp.</p>
<p>Got questions? Go <a href="{{ url_for ('contact') }}">here</a>.</p>
</div>
{% endblock %}