{% extends "layout.html" %}
{% block nav %} 
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="{{ url_for ('home') }}">Home</a></li>
          <li><a href="{{ url_for ('about') }}">About</a></li>
          <li><a href="{{ url_for ('contact') }}">Contact</a></li>
        </ul>
{% endblock %}
{% block first %}
<h2 style="text-align:center">Browse the Catabase</h2>
	<div class="jumbotron">        
        <div class="home-wrapper">
        <p class="lead">Dr. Livingston, I presume.</p>
        <p class="lead">The password...?</p>

<form action="{{ url_for('browse') }}" method=post>

{{ form.password.label }}
{{ form.password }}

<div class="center-div">{{ form.submit }}
	</form>
	</div>
    </div>
    </div>
{% endblock %}
